/* Floater  .*/

.flexbox {
	
	.floater {
		
		.wrapper {
			display: flex;
			flex-direction: column;
		
			.item{
				display: block;
			}
			
			@include screen-large{
				flex-direction: row;
			}
			
			@include screen-medium {
				flex-direction: column;
			}
		
		}//.wrapper
	
	&.address {
		
		.wrapper {
			@include screen-medium {
				flex-direction: row;
			}
			@include screen-small {
				flex-direction: column;
			}
		}
	}
	
		
	}//.floater
	
}