.footer {
		
		
	.no-js & {
		/* @base/nojs for fallbacks */
	}
	
	.js & {
			
		h4 {
			text-align: left;
			margin: 1.5em 0 .75em;
			
			@include screen-small {
				text-align: center;
				display: block;
				margin: 0;
				background: $grey;
				border-bottom: 1px solid $borderLowlight;
				padding: .75em 0;
				color: #FFF;
				cursor: pointer;
			}
		
		&.active {
			
			@include screen-small {
				background: #09C;
			}
		}
		
		}
		
		.menu {
			
			@include screen-small {
			text-align: center;
			}
		
			li {
				
				@include screen-small {

				display: inline-block;
				border-radius: 5px; 
				background: $ltblue;
				margin: .5em .5em .5em 0;
				padding: .5em;
				}
			
				a {
					
					@include screen-small {
						color: $blue;	
					}
				}
			
			}
		
		}
	}
}



	