@media screen and (min-width:500px) {

	nav {
		
		.level1 {
			display: table;
			width: 100%;
			vertical-align: top;
			> li {
			display: table-cell;
			width: 34.1700819672%;
			text-align: center;
			position: relative;
			
			&:first-child {
				width: 31.6598360656%;
			}
			
				> a {
					display: inline-block;
					background: #FFF;
					padding: 1em 0;
					width: 100%;
					height: 100%;
					color: #000;
				
				&:hover,
				li.active & {
					color: #09C;
				}
				}
	
			} // .level1 li
		
		/* Parents */
		.no-js &{
			
			> li:hover .level2 {
				left: 0;
				opacity: 1;
			}
		
		}
		}
		
		.level2 {
			position: absolute; 
			display: block;
			background: #006C8F;	
			width: 100%;
			height: auto;
			border-bottom-width: 1em;
			border-bottom-color: #09C;
			border-bottom-style: solid;
			opacity: 0;
			line-height: 1.25;
			
			> li{
				background: inherit;
				display: block;
				text-align: left;
			

				a{
					display: block;
					color: #FFF;
					padding-top: .25em;
					padding-right: .5em;
					padding-bottom: .25em;
					padding-left: 2em;
				
					
				&:hover{
					color: #FFF;
					text-decoration: underline;
				}
				
					@include screen-large {
						padding-right: .25em;
						padding-left: 1em;
					}
				
					@include screen-medium {
						padding-right: .25em;
					}

				}

			&:first-child {
				
				a {
					padding-top: 1em;
				}
				
			}

			}// .level2 li
				
				
		/* Parents */
		.no-js &{
			opacity: 0;
			left: -9999px;
			z-index: 100;
			transition: opacity .25s ease-in-out;
			-moz-transition: opacity .25s ease-in-out;
			-webkit-transition: opacity .25s ease-in-out;
		}
						
		.js &{
			opacity: 1;
			left: 0;
			z-index: -1;
		}		
		}
	
	}// nav
} /* end min-width 500 */	

@media screen and (max-width:500px) {
	
	.js #login div {
		position: relative;
	}
	
	.menu-toggle {
		width: 25px;
		height: 25px;
		background-image: url('../img/menu-toggle.gif');
		background-repeat: no-repeat;
		background-position: 0 -25px;
		position: absolute;
		cursor: pointer;
		right: 3px; 
		top: 3px;
		z-index: 10;
		border: 0;	
	
	/* Classes */
	&.active {
		background-position: 0 0;
	}
	
	&:focus{
		outline: 0;
	}
	}
	
	nav{
		.level1 {
			display: block;
			margin: .75em 0;
		
			> li {
			display: block;
			width: 100%;
			padding: 0 0;
			background: #FFF;
			
				> a{
					display: block;
					height: 100%;
					background: #BBB;
					padding: .75em 0;
					color: #FFF;
					text-align: center;
				
				&:hover,
				&.active{
				background: #09C;
				}
				}
			
			}
		
		}
		
		.level2{
			position: relative; 
			z-index: 1;
			top: 0; 
			left: 0;
			height: auto;
			background: #FFF;
		
			> li{
				padding: .75em 0;
			
				> a{
					color: #000;
					text-transform: uppercase;
				}
			
			}
		
		/* Parents */
		.no-js &{
			display: none;
		}
		}	
	}
} /* end max-width 500 */	