@media screen and (min-width:500px) {

	nav {
		
		.level1 {
			display: table;
			width: 100%;
			vertical-align: top;

			> li {
			
			@include clearfix;
			display: table-cell;
			width: 33.35%;	
			text-align: center;
			position: relative;

				> a {
					display: block;
					float: left;
					background: $white;
					padding: 1em 0;
					width: 100%;
					height: 100%;
					color: $black;
				
				&:hover,
				li.active & {
					color: $blue;
				}
				}
			
			&:first-child {
				width: 33.3%;
			}
				
			} // .level1 li
			

		/* Parents */
		.no-js &{
			
			> li:hover .level2 {
				left: 0;
				opacity: 1;
			}
		
		}
		}
		
		.level2 {
			position: absolute; 
			display: block;
			background: $dkblue;	
			width: 100%;
			height: auto;
			border-bottom-width: .75em;
			border-bottom-color: $blue;
			border-bottom-style: solid;
			opacity: 0;
			line-height: 1.25;
			
			> li{
				background: inherit;
				display: block;
				text-align: left;
			

				a{
					display: block;
					color: $white;
					padding-top: .25em;
					padding-right: .5em;
					padding-bottom: .25em;
					padding-left: 2em;
				
					
				&:hover{
					color: $white;
					text-decoration: underline;
				}
				
					@include screen-large {
						padding-right: .25em;
						padding-left: 1em;
					}
				
					@include screen-medium {
						padding-right: .25em;
					}

				}

			&:first-child {
				
				a {
					padding-top: 1em;
				}
			}

			}// .level2 li
		
				
		/* Parents */
		.no-js &{
			opacity: 0;
			left: -9999px;
			z-index: 100;
			transition: opacity .25s ease-in-out;
			-moz-transition: opacity .25s ease-in-out;
			-webkit-transition: opacity .25s ease-in-out;
		}
						
		.js &{
			opacity: 1;
			left: 0;
			z-index: -1;
		}
		
		}
		
		
	
	}// nav
} /* end min-width 500 */	

@media screen and (max-width:500px) {
	
	.js #login div {
		position: relative;
	}
	
	.menu-toggle {
		width: 32px;
		height: 32px;
		padding: 0;
		background-color: $black;
		background-image: url(../img/icons/64x64.svg);
		background-repeat: no-repeat;
		background-position: 0 -128px;
		background-size: 64px 160px;
		position: absolute;
		cursor: pointer;
		right: 6px; 
		top: 6px;
		z-index: 10;
		border: 0;	
	
		@include ie(10 9){
				background-image: url(../img/icons/64x64.png);
			}
	
	/* Classes */
	&.active {
		background-color: $blue;
	}
	}
	
	nav{
		.level1 {
			display: block;
			margin: .75em 0;
		
			> li {
			display: block;
			width: 100%;
			padding: 0 0;
			background: $white;
			
				> a{
					display: block;
					height: 100%;
					background: $grey;
					padding: .75em 0;
					color: $white;
					text-align: center;
					border-bottom: 1px solid $borderLowlight;
				
				&:hover,
				&.active{
				background: $blue;
				}
				}
			
			}
		
		}
		
		.level2{
			position: relative; 
			z-index: 1;
			top: 0; 
			left: 0;
			height: auto;
			background: $white;
		
			> li{
				padding: .75em 0;
				> a{
					color: $black;
					text-transform: uppercase;
					
				}
			
			}
		
		/* Parents */
		.no-js &{
			display: none;
		}
		}	
	}
} /* end max-width 500 */	