//	_mixins.scss
//	==============

@mixin screen-full {
  @media screen and (min-width: #{$screen-full}) {
    @content;
  }
}

@mixin screen-large {
  @media screen and (max-width: #{$screen-large}) {
    @content;
  }
}

@mixin screen-medium {
  @media screen and (max-width: #{$screen-medium}) {
    @content;
  }
}

@mixin screen-small {
  @media screen and (max-width: #{$screen-small}) {
    @content;
  }
}


@mixin socialNetworkIcon32($offsetx, $color) {
	background-position: 0 $offsetx ;
	
	&:hover {
		background-color: $color;
	}
}
@mixin socialNetworkIcon64($offsetx, $color) {
	background-position: 0 ($offsetx * 2) ;
	
	&:hover {
		background-color: $color;
	}
}	