// _variables.scss
//	===============

// Fonts
// Google: Cabin; Lato
@import url(https://fonts.googleapis.com/css?family=Cabin:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Lato:700,300);


$black				: #000;
$white				: #FFF;
$blue				: #0099CC;
$dkblue				: #006C8F;
$ltblue				: #D9F0F7;
$grey				: #BBB;
$borderHighlight	: #CCC;
$borderLowlight		: #AAA;

$lato 				: 'Lato', sans-serif;
$cabin				: 'Cabin', sans-serif;

$screen-full		: 1324px;
$screen-large		: 1024px;
$screen-medium		: 768px;
$screen-small		: 500px;

$socialNets : (
	('google',0,#DA4A34),
	('facebook',-32px,#2768A5),
	('twitter',-64px,#00AEF0),
	('youtube',-96px,#D02E17)
);

	 
