

body {
	font-family: $lato;
	font-size: 100%;
	font-weight: 300;
	line-height: 1.5;

	@include screen-medium{
		font-size: 1.0625em;
		line-height: 1.6;
	}
	@include screen-small{
		font-size: 1.125em;
		line-height: 1.7;
	}

}

h1 {
// 	font-family: $cabin;
	font-size: 1.6em;
	font-weight: 400;
// 	color: #09C;
	color: $white;
	}

h2 {
 	font-family: $cabin;
 	font-size: 1.3125em; 
 	font-weight: 400;
 	
 	.revealpanel & {
	font-style: italic;
	}
}


h3 {
	font-size: 1.25em;
	font-weight: 700;
}

h4{
	font-size: 1.125em;
	font-weight: 700;
}

h5 {
	font-size: 1.125em;
	font-weight: 300;
}

h6{
	font-size: 1em;
	font-weight: 300;
}


nav {
	font-family: $cabin;
	
	.level1{
		font-size: 1.25em;
		font-weight: 400;
	}
	
	.level2{
		font-family: 'Lato', sans-serif;
		font-size: 1.15rem;
		font-weight: 300;
		}
}

th {
	font-weight: 700;
	font-size: 1.125em;
}

input{
	font-family: $lato;
	font-weight: 300;
	font-size: 1.125em;

	#header &{
	
	&[type="text"]{
		font-weight: 700;
	}
	}

}

select {
	font-size: 1.125em;

	#main &{
		font-family: $cabin;
		font-size: 1.5em;
		font-weight: 400;	
	}

}

::placeholder {
	font-weight: 300;
}

