//	_nav.scss
//	====================

.menu {
	
	list-style: none;
	margin: 0 0;
	padding: 0 0;

	.resources & li {
		display: list-item;
		margin: 0 0 .25em;
		
		@include screen-medium{
			display: inline-block;
		}
		
		@include screen-small{
			margin: .5em 0;
		}
		
	&:after{
		
		@include screen-medium{
			content: ' |';
		}
	}
			
	&:last-child:after{
						
		@include screen-medium{
			content: '';
		}

	}
	
		a{
				
		&:hover{
			text-decoration: underline;
		}
		}
	}

	.social & li{
		display: inline-block;
		width: 32px;
		height: 32px;
		background: $black;
		border-top: 1px solid $borderLowlight;
		border-left: 1px solid $borderLowlight;
		border-right: 1px solid $borderHighlight;
		border-bottom: 1px solid $borderHighlight;
		overflow: hidden;
	
		a {
			display: block;
			float: left;
			width: 100%;
			height: 100%;
			background-image: url(../img/socialnets.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			background-color: $black;
			background-size: 128px 32px;
		}
		
		//$socialNets @utils/variables
		@each $s in $socialNets {
				a.#{nth($s,1)} {
				//socialNetworkIcon @utils/mixins
				@include socialNetworkIcon(nth($s,2), nth($s,3));
				}
			}
		
		span {
			display: none;
		}
		
	}
	
	.footer & li{
		display: list-item;
		margin: 0 0 .25em;

		a{
			color: #000;
		
		&:hover{
			text-decoration: underline;
		}
		}

	}

&.horizontal {
	
		li{
			//@todo is this necesary?
			display: inline-block;
		}
}
}



