
/*=============IMAGE=============*/

.autosize {
	max-width: 100%;
	height: auto;
	display: inline-block;
}


/*=============HEADER=================*/

#login {

	h5{
		padding: .25em;
		text-align: left;
		color: $white;
	}
	
	div {
		
		@include screen-small{
			width: 100%;
			float: none;
			}
		
	}
	
}



/*=============MAIN=================*/



.software {
	
	@include screen-medium{
		position: relative;
		height: 525px;
	}

	.panel {
		
		@include screen-medium{
			position: absolute; 
			top: 0;
		}
	
	}
	
	.blog {

		@include screen-medium{
			position: absolute; 
			top: 150px;
		}
	}

}


.revealpanel  {
	background: $blue;
	color: $white;
	overflow: hidden;
	margin-bottom: 1em;

	h2{
		display: block;
		padding: 1.5em .75em .75em .75em;
		background: rgba(0,0,0, .3);
		min-height: 100px;
	
		.products & {
			margin: .75em 0 0 .75em;
		}
		
		.software & {
			margin: 0 .75em .75em 0;
		}
		
		@include screen-medium{
			min-height: 0;
			padding: .75em;
		}

	}
	
}



.resources {
	
	h3{
		margin-bottom: .5em;
	
		@include screen-medium{
			margin: 0 .5em 0 0;
		}
	}
	
	.products & {
		text-align: right;
	}
	
	
	> * {
		
		@include screen-medium{
			display: inline-block;
		}
	}
	
}


 .no-js {
	 
	 .products .col23,
	 .software .col12 {
	 	display: none;
 		}
	 
	 .products .col1,
	 .software .col3 {
		 width: 100%;
 		}
 
 	.revealpanel h2 {
	 	padding: 1em;
	 	min-height: 0;
 		}
 	
 	 .software {
	 	height: auto;
 	
		 	.panel {
		 		position: relative;
	 		}
 		}
 
 }

/*--------------Table----------------*/

table {
	width: 100%;
	text-align: center;
}

thead {
	background: #000;
	color: #FFF;
	font-weight: bold;
	
}

th:nth-child(2),
td:nth-child(2) {
	text-align: left;
}

tbody {
	color: #666;

	td{
		padding: .25em 5px;
	}

	tr{
		cursor: pointer;
	
		&:nth-child(even) td{
		background: #D9F0F7;
		border-top: 1px solid rgba(0,0,0, .05);
		}
	
	}

}


/*--------------Blog----------------*/

.scrollwrap {
	overflow-y: auto;
	overflow-x: hidden;
	height: 350px;
}


.blog{
	
	.logo,
	.teaser {
		vertical-align: middle;
		display: inline-block;
	}
	
	.logo {
		width: 33%;
		text-align: center;
	}
	
	.teaser {
		width: 66%;
	}
	
	hr {
		width: 40%; 
		margin: 1em 0 1em 34%;
	}

}




/*-----Reveal Panels--------*/

.products .col1 {
	position: relative;
}

#product-details {
	position: absolute; 
	z-index: 100;
	background: $white;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.product-detail {
		padding-right: 7.2072%;
		
			> div{
				display: block;
			}
			
			.photo{
				text-align: center;
			}
			
			img{
				width: 150px;
				height: auto;
				display: inline-block;
			}
	}
}
	
		
	
			

/*=============ASIDE============*/


.floater {

	 h3 {
		margin-bottom: .25em; 
	 }
	 
	 h4 {
		 @include screen-large {
			 	margin: 1.5em 0 .5em 0;
			 }
	 }
	 
	 
	 p {
		 margin-bottom: .5em;
	 }
}
	


.column.social h4 {
	 display: none;
}
	
	

/*=============FOOTER=============*/

#footer {
	margin-bottom: 2em;

	hr{
		visibility: visible;
	
		 @include screen-small {
				visibility: hidden;
			 }
	}

	.menu a {
		color: #000;
		text-decoration: none;
	}
	
	h4 {
// 		margin: 1.5em 0 .5em 0;
	}

}





