#container {
	margin: 0 auto;
	max-width: 1324px;
	background: #BBB;
	overflow: hidden;
}

	#login {
		width: 100%;
		background: #FFF;
		overflow: hidden;
	}
		#login div {
			width: 22.6586102719%;
			float: right;
			background: #000;
		}
			
		#header {
			margin: 0 2.34375%; 
		}

		#main {
			display: block;
			margin: 0 2.34375%;
		}
	
	.floater {
		float: right;
		width: 22.6586102719%;
	}
	
	.wrapper{
		width: 77.3413897281%;
		float: left;
		background: #FFF;
	}
	
		.wrapper.footer{
			clear: right;
		}
	
		#footer {
			margin: 0 2.34375%; 
		}

/*=============GRID===============*/

.row {
	width: 100%;
	display: table;
}

.column {
	display: table-cell;
}

.floater .row {
	width: 91.9732441472%;
	margin-left: 4%;
	display: block;
}

.floater .column {
	display: block;
}
	
	.col1,.col2,.col12 {padding-right: 2.4590163934%;}
	.col1,.col2 {width: 34.118852459%;}
	.col12 {width: 68.237704918%;}
	.col23 {width: 65.7786885246%;}
	.col3 {width: 31.6598360656%;}
	.colspan {width: 100%;}
	
	.floater .col1,.floater .col2,.floater .col12 {padding-right: 0;}
	.floater .col1,.floater .col2,.floater .col3 {width: 100%;}

