

.todo {
	position: absolute;
	top: -20px;
	left: 0;
	background: orange;
	color: #fff;
	cursor: pointer;
	padding: 0 .25em;
	font-family: 'Lato', sans-serif;
	font-size: 15px; 
	font-weight: 300;
	z-index: 100; 
}




