// Column Classes 


&.blog {
	
		.image {
			width: 33%;
			text-align: center;
		}
	
		.teaser {
			width: 66%;
		}
	
		.image,
		.teaser {
			vertical-align: middle;
			display: inline-block;
			
			@include screen-small{
				display: block;
				width: 100%;
				margin: .5em 0;
			}
		}
}
