

@media (max-width:500px) {
	
		
		
	.no-js .footer .menu{
/*
				line-height: 2.25em;
				text-align: center;	
*/
			}
	
	.no-js .footer .menu li{
// 				display: inline-block;
			}
			
	.no-js .footer .menu li a{
// 				padding: .5em;
			}
			
		
	.footer h4{
// 		text-align: center;
	}
		
/*
	.js .footer h4 {
		display: block;
		margin: 0;
		background: #BBB;
		padding: .75em 0;
		color: #FFF;
			cursor: pointer;
		}
		
		.js .footer h4.active{
			background: #09C;
		}
		
		.js .footer .menu{
			text-align: left;	
		}
					
		.js .footer .menu li{
			display: list-item;
			margin-bottom: .5em;
		}	
*/	
	
} /* end mq 500 */