@media (max-width:1024px) {
	
	#container {
// 	background: #FFF;
	}
	
	#login div {
/*
		width: 34.118852459%;
		float: right;
*/
		}
	
	#login h5{
// 		text-align: center;
	}
	
	.wrapper {
/*
		float: none;
		width: 100%;
*/
	}
	 .wrapper.footer{
// 		 clear: none;
	 }
	
	.floater {
/*
		float: none;
		width: 95.3125%;
		margin-left: 2.34375%;
		margin-bottom: 2em;
*/
	}
		
		.floater.address {
// 			color: #000;
		}
		
		.floater.address hr {
// 		visibility: visible;
		}
		
		.floater .row {
/*
			margin-left: 0;
			width: 100%;
			display: table;
*/
		}
		
			.floater.graphs .row{
/*
				background: #BBB;
				padding: 2em 0;
*/
			}
		
		.floater .column {
/*
			margin: 0;
			display: table-cell;
*/
		}
		
		.floater.graphs .column {
// 			min-height: 0;
		}
		
		.floater .graph {
// 			display: block;
		}
		
		.floater .col1,.floater .col2 {/* padding-right: 2.4590163934%; */}
		.floater .col1,.floater .col2 {/* width: 34.118852459%; */}
		.floater .col3 {/* width: 31.6598360656%; */}
	
			.column.social{
// 				text-align: right;
			}
			
			.floater h4 {
// 				margin: 1.5em 0 .5em 0;
				}
		
	
	   
}


@media (max-width:768px) {
	
	
	.main .row,
	.main .column {
// 	display: block;
	}

	.main .col1,
	.main .col2,
	.main .col12 {/* padding-right: 0; */}
	
	.main .col1,
	.main .col2,
	.main .col12,
	.main .col23,
	.main .col3,
	.main .colspan {/* width: 100%; */}
		
	
	#searchform .border {
// 		width: 90%;
	}
	
	#header .column {
// 		text-align: center;
	}
	
	#main .column {
// 		margin-bottom: 1em;
	}
	
	.revealpanel h2{
// 		min-height: 0
	}
	
	.software {
/*
		position: relative;
		height: 525px;
*/
	}

	.software .panel {
// 		position: absolute; top: 0;
	}
		.revealpanel h2{
// 			padding: .75em;
		}
		
	.software .blog {
// 		position: absolute; top: 150px;
	}

/*
	.resources h3{
		margin: 0 .5em 0 0;
	}
	
	.resources > * {
		display: inline-block;
	}
	
	.resources .menu li{
		display: inline-block;
	}
	
	.resources .menu li:after{
		content: ' |';
	}
		.resources .menu li:last-child:after{
		content: '';
		}
*/

}/* end mq 768 */

@media (max-width:500px) {
	
	#login div {
/*
		width: 100%;
		float: none;
*/
		}
	
	#login h5{
// 		text-align: left;
	}
	
	#header {
// 		margin-bottom: .75em;
	}
	
	#header .row {
/*
		position: static;
		z-index: 1; 
*/
	}
	
			#header .column.logo img{
// 			margin: .75em 0;
			}
	
	#searchform {
		margin-bottom: 0;
	}
	
	#searchform .border {
		width: 98%;
	}
	
	
	.row.slider {
		display: none;
	}
	
	.products .resources,
	.software .resources {
		text-align: center;
	}
		.resources > * {
			display: block;
		}
		.resources .menu li {
			margin: .5em 0;
		}
		
	.software {
		height: 600px;
	}
	.software .blog {
		top: 175px;
	}
	
	.blog .logo,
	.blog .teaser {
		display: block;
		width: 100%;
		margin: .5em 0;
	}
	.blog hr {
		width: 100%; 
		margin: 1em 0;
	}
	
	.floater {
/*
		width: 100%;
		margin-left: 0;
*/
	}

		.floater .row {
/*
			width: 91.9732441472%;
			margin-left: 4%;
			display: block;
			overflow: hidden;
*/
		}
			.floater.graphs .row {
// 				padding: 0 0;
			}
			
		.floater .column,
		.floater .column {
/*
			display: block;
			margin: 1em 0;
*/
		}
			
			.floater.graphs.column {
// 			float: left;
			}
		
		.floater .col1,.floater .col2 {/* padding-right: 0; */}
		.floater .col1,.floater .col2,.floater .col3 {/* width: 100%; */}
	
		
		#footer {
// 			padding-top: 1em;
		}
		
		.footer .row,
		.footer .column {
/*
			display: block;
			width: 100%;
*/
		}
		
		.footer .col1, .footer .col2  {padding-right: 0;}
		
		
		.footer hr{
// 			visibility: hidden;
		}
		
		.no-js .footer .menu{
				line-height: 2.25em;
				text-align: center;	
			}
		.no-js .footer .menu li{
				display: inline-block;
			}
			
		.no-js .footer .menu li a{
				padding: .5em;
			}
			
		
		.footer h4{
			text-align: center;
		}
		
		.js .footer h4 {
			display: block;
			margin: 0;
			background: #BBB;
			padding: .75em 0;
			color: #FFF;
			cursor: pointer;
		}
		
			.js .footer h4.active{
				background: #09C;
				}
		
		.js .footer .menu{
				text-align: left;	
			}
					
		.js .footer .menu li{
				display: list-item;
				margin-bottom: .5em;
			}		
	
} /* end mq 500 */