// Row  Parents 
	
	header &{ 	
		position: relative;
		background: $white;
		vertical-align: top; 
		
		@include screen-small{
			position: static;
			z-index: 1; 
		}
	}

	main & {
		padding: 2em 0;
	
		@include screen-medium{
			padding: 1em 0; 
		}
	
	}
	
	footer & {
		
		@include screen-small  {
			display: block;
			}
	}
	
	
	
	