/*=============GRID===============*/
		
.row {
	width: 100%;
	display: table;
	table-layout: fixed;
	
	@include screen-medium {
		display: block;
	}

/* Classes */
@import 'row/classes';

/* Parents */		
@import 'row/parents';
	
}// .row

/* Flex */
@import 'row/flexbox';


	




	

